$color_1: #212121;
$color_2: #757575;
$font-family_1: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;

/* app css stylesheet */
/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}

html {
	position: relative;
	min-height: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	padding: 0;
	min-height: 100%;
	font-size: 62.5%;
}

body {
	position: relative;
	min-height: 100%;
	height: 100%;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	color: $color_1;
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.goals {
	display: inline-block;
}

.l-content {
	padding: 64px 96px;
	max-width: 1200px;
	margin: 0 auto;
}

[name="predictionForm"] {
	text-align: center;
	.submit-prediction {
		position: fixed;
		top: 100px;
		right: 50px;
	}
	.betInput {
	  width:50px;
	  height:50px;
		margin: 0 5px;
	  padding: 5px 0px 5px 5px;
	}
}

.team-listing {
	button {
		width: 100%;
	}
	img {
		margin-right: 100px;
	}
	@include headings() {
    display: inline-block;
		width: 30%;
	}
}

.md-dialog-container  .md-dialog {
	min-width: 500px;
}

.teamsInput th input {
    font-size: 90%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.teamsInput th input:focus {
    outline-color: transparent;
}

.alignCenter tr td {
    text-align: center;
}

.contentSeparator {
    background-color: #EEE;
    height: 5px;
    margin: 0px auto;
    width: 700px;
}
footer {
	background-image: linear-gradient(120deg, #155799, #159957);
	* {
		color: #fff;
	}
}
.footer-copyright {
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
}

html predictr-header > md-toolbar {
	background-attachment: fixed;
	background-image: url("../img/bg-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	h3 {
		background-image: url("../img/logo.svg");
		background-repeat: no-repeat;
		height: 60px;
		margin: 20px 0;
		text-indent: -999px;
	}
}
