<md-toolbar md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools" layout-wrap layout="row" >
    <div class="menus" layout-wrap layout="row" layout-fill layout-align="space-between center" style="min-height:100px;">
      <div layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="frontpage" class="md-raised md-primary" >Frontpage</md-button>
      </div>
      <div layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="teams" class="md-raised md-primary" >Teams</md-button>
      </div>
      <div layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="betting" class="md-raised md-primary" >Betting</md-button>
      </div>
      <div ng-show="loggedIn" layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="user" class="md-raised md-primary" >User profile</md-button>
      </div>
      <div ng-show="!loggedIn" layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="signin" class="md-raised md-primary" >Sign in</md-button>
      </div>
      <div ng-show="!loggedIn" layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ui-sref="signup" class="md-raised md-primary" >Sign up</md-button>
      </div>
      <div ng-show="loggedIn" layout="column" flex="15" flex-sm="100" layout-align="center center">
        <md-button ng-click="logout()" class="md-raised md-primary" >Log out</md-button>
      </div>
    </div>
  </div>
</md-toolbar>
