<md-content class="l-content team-listing">
  <md-list>
    <md-header>
      <h2>Teams</h2>
      <div layout="row" layout-align="center center">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="squadMarketValue">
        </md-input-container>
      </div>
    </md-header>
  <button ng-click="send(team)"
          ng-repeat="team in teams | filter:name | filter:squadMarketValue"
          class="md-no-style md-button md-ink-ripple"
          type="button"
          aria-label="Janet Perkins">

    <md-list-item class="md-4-line"  layout="row" layout-align="start center" layout-padding>
        <img ng-src="{{team.crestUrl}}" alt="Description"  width='70'/>
        <h3>{{team.name}}</h3>
        <h4>Market value:{{team.squadMarketValue}}</h4>
    </md-list-item>
   </button>
 </md-list>
 </md-content>
