<md-table-container>
  <table md-table style=" width: 500px; margin: 0 auto; padding-top: 200px;" class="ng-pristine ng-untouched ng-valid md-table ng-isolate-scope md-row-select">
    <thead md-head class="md-head ng-scope ng-isolate-scope">
        <tr md-row class="teamsInput">
            <!--<th md-column md-numeric>Count</th>-->
            <th md-column colspan="2"> <input ng-model="name" placeholder="sort by Team name" /></th>
            <th md-column> <input ng-model="shortName" placeholder="sort by Short name" /></th>
            <th md-column> <input ng-model="squadMarketValue" placeholder="sort by Market value" /></th>
        </tr>
        <tr md-row class="teamsInput"><th md-column colspan="4" style="height: 20px;"></th> </tr>
    </thead>
    <tbody md-body class="md-body alignCenter">
      <!-- we can let ng-repeat sort the columns for us -->
      <tr md-row ng-repeat="team in teams | filter:name | filter:shortName | filter:squadMarketValue">
          <td md-cell><img ng-src="{{team.crestUrl}}" width="50" alt="Description" /></td>
          <!--<td md-cell ng-bind="team._links.fixtures.count"></td>-->
          <td md-cell ng-bind="team.name"></td>
          <td md-cell ng-bind="team.shortName"></td>
          <td md-cell ng-bind="team.squadMarketValue"></td>
        </tr>
    </tbody>
  </table>
</md-table-container>
